// variables
$color-bg: #ffffff;
$color-font: #0b1739;
$color-accent: #3EB57C;
$shadow: 0px 6px 20px #95D0A1;


// common rules
:root {
  font-family: PTRootUIWebRegular;
  font-size: 16px;
  line-height: 24px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: gray;
}

h1 {
  font-family: PTRootUIWebBold;
  font-size: 54px;
  line-height: 55px;
  margin: 0;
  padding: 0;
}

b {
  font-family: PTRootUIWebMedium;
  font-weight: 400;
}

small {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

button {
  font-family: PTRootUIWebRegular;
  font-size: 16px;
  line-height: 24px;
}





// rules
.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 96px 80px;
  background: #ffffff;
  width: 1440px;


  .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 80px;
    align-self: stretch;

    .result {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 48px;

      .head {
        width: 100%;
      }
    }

    .filter {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px;
      gap: 10px;
      width: 399px;

      background: linear-gradient(
        135deg,
        rgba(174, 228, 178, 0.3) 0%,
        rgba(149, 208, 161, 0.3) 100%
      );
      border-radius: 10px;
    }
  }
}

@media (max-width: 1439px) {
  .body {
    width: 960px;
    padding: 48px 54px;

    .content {
      gap: 36px;
      
      .filter {
        padding: 20px 19px;
        width: 318px;
      }
    }

  }
}
