@import './common.scss';

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: stretch;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    .form-group-row {
      display: flex;
      justify-content: space-between;
    }
  }

  .form-row {
    display: flex;
    gap: 16px;
  }

  .btn-panel {
    padding: 5px 16px 7px;
    gap: 10px;
    height: 32px;

    button {
      border: none;
      background: none;
    }
  }

  .number-of-rooms {
    label {
      position: relative;
      display: flex;
      justify-content: center;
      width: 44px;
      height: 44px;
      align-items: center;

      span {
        z-index: 10;
      }

      :checked ~ span {
        color: white;
      }

      input[type='checkbox'] {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0;
        border: none;
        appearance: none;
        border-radius: 50%;
        background: #ffffff;

        &:checked {
          background-color: $color-accent;
          box-shadow: $shadow;
        }
      }
    }
  }
}

.range-slider {
  background: rgba(11, 23, 57, 0.1);
  height: 3px;
  // opacity: 0.1;
  border-radius: 1.5px;
  overflow: visible;

  &[data-disabled] {
  }

  .range-slider__range {
    height: 3px;
    border-radius: 1.5px;
    background: #3eb57c;
  }
  .range-slider__range[data-active] {
  }
  .range-slider__thumb {
    width: 14px;
    height: 14px;
    background: #3eb57c;
    border-radius: 50%;
    // transform: translateY(-100%);
  }
  .range-slider__thumb[data-lower] {
  }
  .range-slider__thumb[data-upper] {
  }
  .range-slider__thumb[data-active] {
  }
  .range-slider__thumb[data-disabled] {
  }
}
