@import './common.scss';

.list {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .row {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 2fr 2fr;
    column-gap: 20px;

    align-items: flex-start;
    padding: 16px 0px 24px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);

    &.list-head {
      padding: 0px 0px 16px;

      .sort {
        display: flex;
        flex-direction: column;
        gap: 2px;

        .decrease {
          transform: rotate(180deg);
        }
      }

      #price-col {
        color: $color-accent;
      }
    }

    .col {
      display: flex;
      gap: 8px;
      align-items: center;

      .secondary {
        opacity: 0.5;
      }
    }
  }
}

@media (max-width: 1439px) {
  .list {
    gap: 4px;

    .row.list-head {
      grid-template-columns: 1fr 1fr 1fr 2fr;
      border: none;
  
      .col:nth-child(1) {
        display: none;
      }
  
      .col:nth-child(2) {
        display: none;
      }
    }
  
    .row {
      grid-template-columns: 2fr 2fr 2fr;
      grid-template-rows: auto;
      align-items: center;
      border: solid 1px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 16px 24px;
      justify-items: start;
      grid-template-areas:
        'A A A E E'
        'B C D E E'
        'B C D E E';
  
      .col:nth-child(1) {
        order: 5;
        justify-content: flex-end;
        grid-area: E;
      }
  
      .col:nth-child(2) {
        grid-area: A;
      }
  
      .col:nth-child(3) {
        grid-area: B;
      }
  
      .col:nth-child(4) {
        grid-area: C;
      }
  
      .col:nth-child(5) {
        grid-area: D;
      }
    }

  }

}

.load-more {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 24px;
  gap: 10px;
  background-color: transparent;
  border: 1px solid rgba(11, 23, 57, 0.2);
  border-radius: 25px;
}
