<form action="">
  <div class="form-row">
    <input type="checkbox" name="" id="">
    <input type="checkbox" name="" id="">
    <input type="checkbox" name="" id="">
  </div>
  <div class="form-group">
    <label><small>Стомость квартиры, ₽</small></label>
    <div class="form-group-row">
      <span>от <b class="from">18 900 000</b></span>
      <span>до <b class="to">18 900 000</b></span>
    </div>
    <div id="price"></div>
  </div>
  <div class="form-group">
    <label><small>Площадь, м²</small></label>
    <div class="form-group-row">
      <span>от <b class="from">33</b></span>
      <span>до <b class="to">123</b></span>
    </div>
    <div id="area"></div>
  </div>
  <div class="btn-panel">
    <button type="reset" class="reset-btn"><small>Сбросить параметры</small></button>
  </div>
</form>
